* {
  background: #ECF0F1;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: black;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: black;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: inherit;
  height: 60px;
  width: 200px
}

button {
  font-family: 'Roboto', sans-serif;
  height: 20%;
}

.incomplete {
  background-color: #E74C3C;
  width: 100%;

}

.completed {
  background-color: #3498DB;
}
